<div class="container">
    <h1 class="mb-5">{{ username }}</h1>
    <ul class="list-group">
        {{#each codesnippets}}
            <li class="list-group-item">
                {{title}} - <span class="date">{{postedAt}}</span> 
                <a class="float-right" href="/codesnippet/{{id}}">View</a>
            </li>
        {{/each}}
    </ul>
</div>