<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Error 404!</h1>
    <p class="lead">Something went wrong. The page you were trying to view doesn't exist.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/" role="button">Return to homepage.</a>
  </div>
</div>